/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	}

div.container {
	display: flex; 
	flex-wrap: wrap;
	max-width: 65em; 
	margin: auto;
}

header {
	flex: 1 0 100%;
	margin-bottom: 0em;
}

article {
	flex: 2 0 28em;
	padding: 0.5em;
}

article ol {
	padding-left: 0em;
}

article h2 {
	margin-top: 2em;
}

article figure {
	margin: 0em;
}

aside {
	flex: 1 0 14em;
	padding: 0.5em;
}

aside section {
	background-color: rgb(232, 232, 232);
	flex: 1 0 100%;
}

aside section p {
	color: #222;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0em;
	padding-bottom: 1.75em;
}

aside section h3 {
	color: #222;
	padding-left: 1em;
	margin-bottom: 0em;
	margin-top: 0em;
}

aside section a {
	text-decoration: none;
}

aside section a figure {
	margin: 0;
	padding: 1em;
}

aside section a figure img {
	margin: auto;
}

footer {
	flex: 1 0 100%;
	border-top: 1px solid rgb(187, 187, 187);
	margin-top: 1em;
}

footer p a {
	color: rgb(67, 67, 67);
	text-decoration: none;
}