/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

header h1 a img {
    max-width: 8em;
    margin-top: 1.25em;
    margin-left: 0.5rem;
}

div.container, div.home-container {
    margin: auto;
    max-width: 40em;
    padding-top: 0em;
    padding-bottom: 0em;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(92, 118, 150);
    font-family: sans-serif;
    font-size: 1.10em;
    font-weight: bold;
    margin-left: 0.5rem;
}

header nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.mainstory a {
    text-decoration: none;
}

section.mainstory a p {
    color: rgb(56, 56, 56);
    font-family: sans-serif;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.mainstory a h2 {
    color: rgb(92, 118, 150);
    font-weight: bold;
    font-size: 3em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.secondarystory a {
    text-decoration: none;
}

section.secondarystory a p {
    color: rgb(56, 56, 56);
    font-family: sans-serif;
    font-size: 1.10em;
    margin-bottom: 0.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.secondarystory a h2 {
    color: rgb(92, 118, 150);
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 0.1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.tertiarystory a {
    text-decoration: none;
}

section.tertiarystory a h2 {
    color: rgb(92, 118, 150);
    font-weight: bold;
    font-size: 1.25em;
    border-top: 1px solid rgb(92, 118, 150);
    padding-top: 0.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.tertiarystory a p {
    color: rgb(56, 56, 56);
    font-family: sans-serif;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    background-color: rgb(92, 118, 150);
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(237, 237, 237);
    font-family: sans-serif;
    box-sizing: border-box;
}

aside {
    background-color: rgb(204, 207, 251);
    padding-top: 1em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

figcaption {
    color: rgb(103, 103, 103);
    font-family: sans-serif;
    font-size: 1.10em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-style: italic;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h2.title {
    color: rgb(92, 118, 150);
    font-weight: bold;
    font-size: 3em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

p.paragraph {
    color: rgb(56, 56, 56);
    font-family: sans-serif;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media only screen and (min-width: 40em) {

	nav ul li {
		display: inline;
        margin-right: 1em;
	}

    header h1 a img {
        margin-left: 0rem;
    }

    header nav ul li a {
        margin-left: 0rem;
    }

    figcaption {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    h2.title {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    p.paragraph {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.mainstory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.mainstory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.secondarystory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.secondarystory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.tertiarystory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.tertiarystory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container aside {
        margin-top: 0;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
    }

    section.secondarystory a p {
        flex: 0 0 4em;
    }
}