/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

h1 {
    width: 8em;
}

header h1 a img {
    margin-top: 1.25em;
    margin-left: 0.5rem;
}

div.container, div.home-container {
    margin: auto;
    max-width: 40em;
    padding-top: 0em;
    padding-bottom: 0em;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(13, 77, 69);
    font-family: "nexa-rust-sans-black-2";
    font-size: 1.10em;
    font-weight: bold;
    margin-left: 0.5rem;
}

header nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.mainstory a {
    text-decoration: none;
}

section.mainstory a p {
    color: rgb(27, 32, 35);
    font-family: "area-normal";
    font-weight: medium;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.mainstory a h2 {
    color: rgb(13, 77, 69);
    font-weight: bold;
    font-family: "nexa-rust-sans-black-2";
    font-size: 3em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.secondarystory a {
    text-decoration: none;
}

section.secondarystory a p {
    color: rgb(27, 32, 35);
    font-family: "area-normal";
    font-weight: medium;
    font-size: 1.10em;
    margin-bottom: 0.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.secondarystory a h2 {
    color: rgb(13, 77, 69);
    font-weight: bold;
    font-family: "nexa-rust-sans-black-2";
    font-size: 1.75em;
    margin-top: 0.1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.tertiarystory a {
    text-decoration: none;
}

section.tertiarystory a h2 {
    color: rgb(13, 77, 69);
    font-weight: bold;
    font-family: "nexa-rust-sans-black-2";
    font-size: 1.25em;
    border-top: 1px solid rgb(13, 77, 69);
    padding-top: 0.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section.tertiarystory a p {
    color: rgb(27, 32, 35);
    font-family: "area-normal";
    font-weight: medium;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    background-color: rgb(13, 77, 69);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: rgb(237, 237, 237);
    font-family: "area-normal";
    font-weight: medium;
    box-sizing: border-box;
}

aside {
    background-color: rgb(233, 255, 244);
    padding-top: 1em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

figcaption {
    color: rgb(112, 114, 115);
    font-family: "area-normal";
    font-weight: medium;
    font-size: 1.10em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-style: italic;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h2.title {
    color: rgb(13, 77, 69);
    font-family: "nexa-rust-sans-black-2";
    font-weight: bold;
    font-size: 3em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

p.paragraph {
    color: rgb(27, 32, 35);
    font-family: "area-normal";
    font-weight: medium;
    font-size: 1.10em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main.gallerymain {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(66% + 6em);
}

figure.galleryfig {
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8) {
    opacity: 1;
}

nav.gallerynav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.2em;
}

input {
    display: none;
}

/* ––––––––––––––––––––––– Form Section ––––––––––––––––––––––––– */

input[type="text"],
input[type="email"],
input[type="checkbox"] {
    display: inline;
}

/* Needed help on this above chunk ^ because initially setting display to none made it so the input fields disappeared */

section.personal-info {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    font-family: "area-normal";
}

section.personal-info ul {
    list-style-type: none;
}

section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.75em;
}

section.personal-info ul li input[type="text"] {
	flex: 4 0 32em;
}

section.personal-info ul li input[type="email"] {
	flex: 4 0 32em;
}

section.newsletteroptions {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    font-family: "area-normal";
}

section.newsletteroptions ul {
    list-style-type: none;
    display: flex;
	flex-wrap: wrap;
}

section.newsletteroptions ul li {
	flex: 1 0 15em;
}

@media only screen and (min-width: 40em) {

	nav ul li {
		display: inline;
        margin-right: 1em;
	}

    header h1 a img {
        margin-left: 0rem;
    }

    header nav ul li a {
        margin-left: 0rem;
    }

    figcaption {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    h2.title {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    p.paragraph {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.mainstory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.mainstory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.secondarystory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.secondarystory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.tertiarystory a h2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.tertiarystory a p {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container aside {
        margin-top: 0;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
    }

    section.secondarystory a p {
        flex: 0 0 4em;
    }

    main.gallerymain, nav.gallerynav {
        grid-column: 1 / 3;
    }

    main.mainnewsletter {
        grid-column: 1 / 3;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: rgb(8, 11, 16);
    }
    
    div.container, div.home-container {
        background-color: rgb(8, 11, 16);
    }

    header nav ul li a {
        color: rgb(21, 125, 113);
    }

    section.mainstory a p {
        color: rgb(241, 245, 249);
    }

    section.mainstory a h2 {
        color: rgb(21, 125, 113);
    }

    section.secondarystory a p {
        color: rgb(241, 245, 249);
    }

    section.secondarystory a h2 {
        color: rgb(21, 125, 113);
    }

    section.tertiarystory a h2 {
        color: rgb(21, 125, 113);
    }

    section.tertiarystory a p {
        color: rgb(241, 245, 249);
    }

    footer {
        background-color: rgb(21, 125, 113);
        color: rgb(241, 245, 249);
    }

    h2.title {
        color: rgb(21, 125, 113);
    }

    p.paragraph {
        color: rgb(241, 245, 249);
    }

    aside {
        background-color: rgb(6, 54, 41);
    }

    h1 {  
        background-image: url("339logoalt.svg");  
        background-repeat: no-repeat;  
        background-size: contain;  
        }

    h1 img {  
        opacity: 0;  
        }
}